# Unit: 01

**Introduction, Data Types and Operations :**

# OBJECT REFRENCING

# Data types:
1. Numaric data type: --> int, float, complex
2. Text: --> strings
3. Boolean: --> true/false
4. Sequences: --> list[1,2,3], tuple(1,2,3), range[1:3]
5. Sets: --> set, frozenset
6. Binary: --> bytes, bytearray, memoryview
7. Mapping: --> dict
8. None: --> nothing

x = 50
x = 60.5
x = "Hello"
x = ["Mr.", "Veerendar", "Rathod"]
x = ("Mr.", "Veerendar", "Rathod")

1. int data type - use for categorical encodings, class id, one-hot indexing and tokens ids in NLP(natural language processer).
2. float data type - represent real value data like features, prediction, gradients and weights.
3. complex data type - used in signal processing, audio image analysis, spectral method for exm-FFT in ECG.
4. float32 / float64 - standrad in deep learning framework like pyeTorch, TensorFlow to balance precision and memory usage.
5. int32 / int64 - useful for lables, indexing arrays/Tensors and specifying seq. length in NLP.

In [ ]:
power_levels = [86, 92.5, 75, 88.0, 91]
if power_levels:
  avg_power = round(sum(power_levels)/len(power_levels),2)
else:
  avg_power = 0
print(avg_power)

86.5

# Interview Tip
Always validate your input data before execution of your program.

# Import Statistics

In [ ]:
import statistics

power_level = {
    "ironman": 100,
    "hulk": 200
}
statistics.mean(power_level.values())
print(power_level)

{'ironman': 100, 'hulk': 200}

# Interview tip:
dictionary vs list

1. dict. is best well data can be append where as list works best when order or sequence matters.
2. efficency be ready to compute averages in one pass using built in function or libraries.
3. keeps the time complexity in mind.

1Q: write the python program to find largest number in the list.

In [ ]:
num = [10, 2, 8, 4]
max = min = num[0]
for n in num:
  if max < n:
    max = n
    if min > n:
      min = n
print(min)
print(max)

10
10

2Q: rorate a list to the right by k steps

In [ ]:
k = 2
num = [10, 2, 8, 4]
k = k % len(num)
rotated = num[-k: ] + num[ :-k]
print(rotated)

# Strings

1. strings are the arrays of the bytes representing unique quotes no seperater character data types.
2. the string can be created using "", '' quotes.
3. access individual character via indexing starting at 0.
4. strings are inmutable.
5. a string can be repeated by multiplying it by an integer.
6.function that is used for string is structure.

In [1]:
s1 = "This is example of a string"
print(s1)

s2 = "This" + " is" + " " + "also" + "an" + """example""" + 'of' + "a" + "string"
print(s2)

s3 = "This is \
........ single line"
print(s3)

s4 = "Hulk:Smash"
print(s4*3)

s5 = "#This is not a comment"
print(s5)

print("length of a string is:",len(s5))
print("The first character is:",s5[0])
print("The last character is:",s5[-1])
print("In python 0 and -0 are same:",s5[-0])
print("The substring of s5 is:",s5[:])

print("The substring of s5 is:",s5[:4])
print("The substring of s5 is:",s5[2:4])

new_s2 = "b" + s2[1:]
print("New s2 after 'changing' the first character:", new_s2)

This is example of a string
This is alsoanexampleofastring
This is ........ single line
Hulk:SmashHulk:SmashHulk:Smash
#This is not a comment
length of a string is: 22
The first character is: #
The last character is: t
In python 0 and -0 are same: #
The substring of s5 is: #This is not a comment
The substring of s5 is: #Thi
The substring of s5 is: hi
New s2 after 'changing' the first character: bhis is alsoanexampleofastring

In [ ]:
name = "ironman"
for ch in name:
  print(ch, end = "*")

s2 = "loop"
for i in range(len(s2)):
  print(-i,s2[-i])

print("\nReversed string:")
for i in range(len(s2) -1, -1, -1):
  print(s2[i], end="")

# or

s1 = "loop"
for i in range(len(s2)+1):
 print(s2[::-1])

i*r*o*n*m*a*n*0 l
-1 p
-2 o
-3 o

Reversed string:
poolpool
pool
pool
pool
pool

# ASCII  Codes:

1. in early 1960s a standard was published called american standard code for information interchange
2. it specify the mapping of binary values to character
3. it uses 7 bits to represent character ( 0-127 )
4. a-z ( 97-122 ) ,A-Z ( 65-90 )

1 problem:
The ASCII character said is limited and not design to handel characters from other language solution
Unicode - The unicode standard define more than 1 lakh character. Python3 uses unicode by default (UTF-8) unicodes string allow global language support prefix:u

In [ ]:
s1 = "\u03c0"
print(s1)
s2 = "\u00B2"
print(s2)
s3 = "\u00B1"
print(s3)
s4 = "\u00B3"
print(s4)

π
²
±
³

1. \0: Null, ASCII value = 0
2. \a: Bel, ASCII value = 7
3. \b: Back space, ASCII value = 8
4. \t: Tab (Horizontal), ASCII value = 9
5. \n: new line, ASCII value = 10
6. \v: vertical Tab, ASCII value = 11
7. \f: Form feed (new page), ASCII value = 12
8. \r: Carriage return, ASCII value = 30

In [ ]:
print("Iron man \nCaption America") # \n gives new line
print("Iron man \tCaption America") # \t gives tab space
print("Iron man \tCaption America")

Iron man
Caption America
Iron man 	Caption America
Iron man 	Caption America

In [ ]:
print("C:\\Average\\Data")
print("Hulk\a") # it will triger beep sound on supported terminal
print("Hulk \v Caption America")

# Methods:
1. Lower Upper Case

we can use these method in NLP (Natural Language Processing).

In [ ]:
review = "This Move is AMAZING!"
print(review.lower())
print(review.upper())
print(review[3].upper())

this move is amazing!
THIS MOVE IS AMAZING!
S

2. Strip Method

it removes the special character or whitespaces that are either trailing or leading.
it does not remove middle special char or whitespaces.

Replace Function :- it replaces any particular special character or whitespaces into others.

Split Function :-

In [ ]:
tweet = '@AIROCKS'
print(tweet.strip("@"))

print(tweet.replace("@", ""))

token = review.split()
print(token)

Join Function :-

In [ ]:
print(" ".join(token)) # or

joint = " ".join(token)
print(joint)

Text Function :-

In [ ]:
text = "this is a python python class"
print(text.find("python"))
print(text.find("p", 7, 11))
print(text.find("this"))
print(text.find("q"))
print(text.index("q"))

Count Function :-

In [ ]:
print(text.count("underneath"))
print(text.count("underneath", 7.25))

In [ ]:
word = ["How", "are", "you"]
# print(word.strip()) error
for i in word:
  print(i)

In [ ]:
word = ["How are you"]
# print(word.strip()) error
for i in word:
  print(i)

Startswith():   and   
Endswith():

In [ ]:
txt = "hello, My name is Veerendar Rathod"
print(txt.startswith("hello"))

In [ ]:
txt = "hello, My name is Veerendar Rathod"
print(txt.startswith("hello", 0, 10))
print(txt.endswith("Veerendar"))
print(txt.endswith("Veerendar, swati"))
print(txt.endswith("Veerendar"), ("swati"))

In key word:-- for searching

In [ ]:
avg = "Thor Capt.America"
print("Thor" in avg)
print("Loki" not in avg)
if "Loki" in avg:
  print("No, Loki is not present")
if "Thor" in avg:
  print("Yes")

1Q: given a sentance loki try to trick in averanger check if loki is a real brother of the thor or not ?

2Q: we  define the usage of capitals in a word to be right when one of the following cases hold.
. all letters in this world are capitals, like USA
. all letters in this world are not capitals, like leetcode
. only the first letter in this world is capital like, Google
. given a string of word, return true if the usage of capital in it is right

In [ ]:
def word_Capitalization(word):
  if word.isupper():
    return True
    if word.islower():
      return True
      if word[0].isupper() and word[1:].islower():
        return True

        return False
        print(word_Capitalization("USA"))
        print(word_Capitalization("leetcode"))
        print(word_Capitalization("Google"))

In [ ]:
word = ["How", "are", "you"]
print(word.strip(''))

for i in word:
  print(i.strip(''))

# Boolean Data Type:  (True / False)

In [ ]:
print(type(True))

a,b = 10, 20
print(a and b)

print(10 > 9 and 10 > 7)
print(10 > 9 or 10 > 7)
print(5 > 3 or 2 > 4)
print(not 5 > 3)

print(bool([])) # --> it is empty
print(bool(" ")) # --> it is non-empty

print(a and b)
print(a or b)
print(a ^ b)
print(a != b)
print(a, b)
print(b, a)

a = a ^ b
b = a ^ b
a = a ^ b
print(a, b)

1Q: find atleast 5 applications of XOR

Here are at least 5 applications of the XOR operator:

1. **Swapping two numbers without a temporary variable:** You can swap the values of two variables `a` and `b` using a sequence of three XOR operations: `a = a ^ b`, `b = a ^ b`, `a = a ^ b`.

2. **Detecting the missing number in a sequence:** If you have a sequence of numbers from 1 to n with one number missing, you can XOR all the numbers in the sequence with all the numbers from 1 to n. The result will be the missing number.

3. **Checking for differences between two binary sequences:** XORing two binary sequences will result in a sequence where a 1 indicates a difference between the corresponding bits, and a 0 indicates they are the same.

4. **Simple encryption/decryption:** XOR can be used for simple symmetric encryption where the same key is used for both encryption and decryption. XORing the plaintext with the key produces the ciphertext, and XORing the ciphertext with the same key recovers the plaintext.

5. **Error detection (Parity check):** XOR can be used to calculate a parity bit for a block of data. The parity bit is 1 if the number of 1s in the data block is odd, and 0 if it's even. This parity bit can be transmitted along with the data to detect single-bit errors.

2Q: is vs == comparater/comparisions

In [25]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a

print(a == b)
print(a is b)
print(a is c)

True
False
True

The `==` operator compares the **values** of two objects for equality. It checks if the objects have the same content.

The `is` operator compares the **identity** of two objects. It checks if both variables refer to the exact same object in memory.

In the code above:
- `a == b` is `True` because the lists `a` and `b` have the same elements.
- `a is b` is `False` because `a` and `b` are two different list objects in memory, even though they have the same content.
- `a is c` is `True` because `c` is assigned to the same list object that `a` refers to.

# Arithematic Operations:

In [ ]:
a = 10
b = 9
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) # double slash is a floor division
print(a**b)
print(a%b)

print(2**3**2) # right associativity

print(-a//3) # python floor division differs from C++, in C++ it will gives -3 as output

# Assignments:

In [24]:
x = 5
x*=2+3
print(x)

y = 10
y//=3 # floor division
print(y)
print(y%3)

z = 5
z**=3 # exponent
print(z)

# why use assignment operation
# code consistance and readability
# efficiency(in place updation: in python operations like += try to update object)

a = [1,2]
b = a
a+=[3]
print(a)

a = [1,2]
b = a
a = a + [3]
print(b)

25
3
0
125
[1, 2, 3]
[1, 2]

In [ ]:
x = 4
x&=3
print(x)

x = 7
x |= 3
print(x)

x = 5
x ^= 3
print(x)

x = 5
x >> 1
print(x)

x = 10
x << 1
print(x)

print(x:=3)

# Comparision Operaters:

In [ ]:
x = 10
y = 10
print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

print(10 == 10.0)
print("10" == 10)
print(True == 1)
print(False == 0)
print(True + True)
print(True + False)

# Logical Operaters:

In [ ]:
print(0 and 5)
print(0 or 5)
print(not 5)
print([] or "Hi")
print([] and "Hi")

# a and b does not evaluate b if a is false, this concept is called short circuiting.

# Identity Operaters:

In [ ]:
a = [1, 2, 3]
print(3 in a)
print(3 not in a)
print("a" in "banana")
print("nana" in "banana")
print("nana" not in "banana")

# Bitwise Operaters:

In [ ]:
print(5 & 3)
print(5 | 3)
print(5 ^ 3)
print(~5)

print(-10//4/3)
print("APPLE" < "apple")
print(True == 1)

#List Data Type: -

1. list is a collection of items
2. list is in ordered
3. list is a mixture of data
4. list can be append / add items in the list
5. list can be pop / remove items from the list

In [ ]:
L1 = [1,2,3,4]
L1 = L1 + [5]
print(L1)

L1[3]
L1[1:4]
L1[-1]

inf_stones = ['space', 'mind', 'time', 'reality', 'power', 'soul']
if"soul"in inf_stones:
  print("is soul is in the list")
else:
  print("is soul is not in the list")

inf_stones = ['space', 'mind', 'time', 'reality', 'power', 'soul']
inf_stones[1] = "inf_soul"
inf_stones[1:3] = ["_", "_"]
print(inf_stones)


avg = ["A", "B"]

inf_stones = ['space', 'mind', 'time', 'reality', 'power', 'soul']

inf_stones.insert(2, "X")

inf_stones.append("X")

inf_stones.extend(avg)

print(inf_stones)

inf_stones.remove("soul")
print(inf_stones)

inf_stones.pop()
print(inf_stones)

inf_stones.pop(2)
print(inf_stones)

In [ ]:
friends = ['SANTHU', 'Akashu', 'veeru', 'sammU', 'naNI']
for x in friends:
  print(x)
  print()  # or

[ print(x) for x in friends ]

new = [ x for x in friends ]
print(x)

# Unit: 02

**Python Decision making and Loops :**

# While loop:

In [ ]:
num = []
i = 1
while i*i <= 100:
  num.append(i*i)
  i = i+1
  print(num)


print()
squ_list = [i*i for i in range(1, 11) if i*i <= 100]
print(squ_list)

# Sorting:

1. sorting is used for searching
2. for efficient searching
3. insertion sort for small set of data
4. selection sort is better than bubble for large set of data
5. Searching is a most expensive operation in the world.

 # Multi dimensional list:

 Q: Use comstructor for 2D
 and list comprehesnion for last problem.

In [34]:
# Example: Creating a 3x3 matrix initialized with zeros, ensuring independent rows
rows = 3
cols = 3

matrix_constructor = [[0 for _ in range(cols)] for _ in range(rows)]
print("Matrix created with constructor (independent rows):")
print(matrix_constructor)

# Demonstrate independence by modifying one element
matrix_constructor[0][0] = 99
print("After modifying matrix_constructor[0][0]:")
print(matrix_constructor)

print("\n---")

Matrix created with constructor (independent rows):
[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
After modifying matrix_constructor[0][0]:
[[99, 0, 0], [0, 0, 0], [0, 0, 0]]

---

In [27]:
name = input('Enter your name: ')
print(f"Type of 'name': {type(name)}")

num_str = input('Enter a number (as text): ')
print(f"Type of 'num_str': {type(num_str)}")

num_int = int(input('Enter a number (as integer): '))
print(f"Type of 'num_int': {type(num_int)}")

Enter your name: veerenda rathod
Type of 'name': <class 'str'>
Enter a number (as text): five
Type of 'num_str': <class 'str'>
Enter a number (as integer): 78
Type of 'num_int': <class 'int'>

In [40]:
num = []
n = int(input('enter the no of elements'))
for i in range(0,n):
  val = int(input('enter the value'))
  num.append(val)
print(num)

enter the no of elements5
enter the value46
enter the value2156
enter the value545
enter the value12
enter the value11
[46, 2156, 545, 12, 11]

In [ ]:
 #num = []
 #n = int(input('enter the no of elements'))

 num1 = [int(x) for x in input('enter the value')]
 print(num1)
 num = [int(x) for x in input('enter the value').split()]
 print(num)

In [ ]:
 num = [int(x) for x in input('enter the value').split()]
 print(num)

In [3]:
n = int(input('enter the no of elements: '))

num_strings = input(f'enter {n} numbers, separated by spaces: ').split()
num = [int(s) for s in num_strings[:n]]

if len(num) < n:
    print(f"Note: Expected {n} numbers, but only {len(num_strings)} were provided. Processed {len(num)} numbers.")
elif len(num_strings) > n:
    print(f"Note: Expected {n} numbers, but {len(num_strings)} were provided. Only the first {n} numbers were processed.")

print(num)

enter the no of elements: 6
enter 6 numbers, separated by spaces: 1 3 5 65 56 5
[1, 3, 5, 65, 56, 5]

# Dictionary:

In [5]:
stud_name = {
    1: "Santu",
    2: "Akashuu",
    3: "Veeru"
}
print(stud_name)
print(stud_name[1])
print(stud_name[2])
print(stud_name[3])

dic = {
    1:2,
    2:2,
    3:1,
    4:3
}
print(dic)

# To create a dictionary with integer keys, use dictionary literal or list of tuples
# dict(1="Santu", 2="Akashuu") is invalid because keyword arguments must be strings

print({1: "Santu", 2: "Akashuu"})
print(dict([(1, "Santu"), (2, "Akashuu")]))

{1: 'Santu', 2: 'Akashuu', 3: 'Veeru'}
Santu
Akashuu
Veeru
{1: 2, 2: 2, 3: 1, 4: 3}
{1: 'Santu', 2: 'Akashuu'}
{1: 'Santu', 2: 'Akashuu'}

In [6]:
Car = {
    "brand": "Kawasaki Ninja",
    "model": "H2R"
}
print(Car)
print()

# Correcting assignment: Use direct assignment for setting values

Car['brand'] = "Royal Enfield"
print(Car.get('brand', 0))

print()
print(Car.get('brand'))

print()
print(Car.get('bran'))
print()

Car_keys = Car.keys()
print(Car_keys)
print()

Car['fuel'] = 'petrol'

print(Car_keys) # dict_keys view will reflect the change
print()

Car_values = (Car.values())
Car['year'] = 2025
print(Car_values) # dict_values view will reflect the change
print()

Car_items = Car.items()
print(Car_items)
print()

for k,v in Car.items():
  print(k,v)
print()

Car['model'] = 'q2024'
Car['fuel'] = 'petrol' # This will update the existing 'fuel' key
print(Car)
print()

Car.popitem()
print("After popitem:", Car)
print()

print("Popped 'brand':", Car.pop('brand')) # Pop the 'brand' key
print("After pop('brand'):", Car)
print()


Car.update({'model': 'q2024', 'color': 'red'})
print("After update:", Car)
print()

# keys are unique values, in dictionary.

{'brand': 'Kawasaki Ninja', 'model': 'H2R'}

Royal Enfield

Royal Enfield

None

dict_keys(['brand', 'model'])

dict_keys(['brand', 'model', 'fuel'])

dict_values(['Royal Enfield', 'H2R', 'petrol', 2025])

dict_items([('brand', 'Royal Enfield'), ('model', 'H2R'), ('fuel', 'petrol'), ('year', 2025)])

brand Royal Enfield
model H2R
fuel petrol
year 2025

{'brand': 'Royal Enfield', 'model': 'q2024', 'fuel': 'petrol', 'year': 2025}

After popitem: {'brand': 'Royal Enfield', 'model': 'q2024', 'fuel': 'petrol'}

Popped 'brand': Royal Enfield
After pop('brand'): {'model': 'q2024', 'fuel': 'petrol'}

After update: {'model': 'q2024', 'fuel': 'petrol', 'color': 'red'}

In [ ]:
students = ["boy", "girl", "boy", "boy"]

print(students.count("boy"))
print(students.count("girl"))

count = { }
for i in students:
  count[i] = count.get(i, 0) + 1

print()
print(count)

3
1

{'boy': 3, 'girl': 1}

#Nested Dictionary:

In [ ]:
student_sec_C = {"S1":{"name": "Rathod VEER",
                      "year": 2024,
                      "department": "ECE" },
                      "S2":{
                          "name": "Santu",
                          "year": 2024,
                          "department": "CSE" }}
for k,v in student_sec_C.items():
  for k,v in v.items():
    print(k,v)

name Rathod VEER
year 2024
department ECE
name Santu
year 2024
department CSE

In [ ]:
avengers = {
    'name': 'Hanu-Man',
    'power': 'Gadhh..',
    'age': 'infinite'
}
avengers_copy = avengers.copy()
avengers_copy.clear()
print("1.copy() & clear():", avengers_copy)
print()

print("2.original:", avengers)
print()

avg_keys = avengers.keys()
print("3.keys():", avg_keys)
print()

avg_values = avengers.values()
print("4.values():", avg_values)
print()

# Examples of items(), get(), and dict.fromkeys()
avg_items = avengers.items()
print("5.items():", avg_items)
print()

print("6.get('name'):", avengers.get('name'))
print("get('color', 'Not found'):", avengers.get('color', 'Not found')) # Example with default value
print()

keys = ['Arjuna', 'Karna']
new_team = dict.fromkeys(keys, "avengers")
print("7.fromkeys():", new_team)
print()


popped_item = avengers.pop('age')
print("8.pop('age'):", popped_item)
print("after pop('age'):", avengers)
print()

popped_item = avengers.popitem()
print("9.popitem():", popped_item)
print("after popitem():", avengers)
print()

# Removed the invalid popitems() call as it doesn't exist

avengers.update({'model': 'q2024'})
avengers.update({'color': 'red'})
print("10.after update():", avengers)
print()

# keys are unique values, in dictionary.

# set default:
values = avengers.setdefault('color', 'red')
print("11.setdefault():", values)
print("updated setdefault():", avengers)
print()

1.copy() & clear(): {}

2.original: {'name': 'Hanu-Man', 'power': 'Gadhh..', 'age': 'infinite'}

3.keys(): dict_keys(['name', 'power', 'age'])

4.values(): dict_values(['Hanu-Man', 'Gadhh..', 'infinite'])

5.items(): dict_items([('name', 'Hanu-Man'), ('power', 'Gadhh..'), ('age', 'infinite')])

6.get('name'): Hanu-Man
get('color', 'Not found'): Not found

7.fromkeys(): {'Arjuna': 'avengers', 'Karna': 'avengers'}

8.pop('age'): infinite
after pop('age'): {'name': 'Hanu-Man', 'power': 'Gadhh..'}

9.popitem(): ('power', 'Gadhh..')
after popitem(): {'name': 'Hanu-Man'}

10.after update(): {'name': 'Hanu-Man', 'model': 'q2024', 'color': 'red'}

11.setdefault(): red
updated setdefault(): {'name': 'Hanu-Man', 'model': 'q2024', 'color': 'red'}

Q: you have a list of fruits with
apple = [200]
avacadow = [700]
banana = [100]
strawberry = [900]
the below lists, that add up to your budget 900, use for-else concept with break keyword. and time complexity must be Big-oh(n)

In [ ]:
# Given fruit lists and budget
apple = [200]
avacadow = [700]
banana = [100]
strawberry = [900]

budget = 900

# Combine the fruits and their prices into a list of tuples for easier iteration

fruits = [("apple", apple[0]), ("avacadow", avacadow[0]), ("banana", banana[0]), ("strawberry", strawberry[0])]

found_combination = False
current_combination = []
current_sum = 0

for fruit, price in fruits:
    if current_sum + price <= budget:
        current_combination.append(fruit)
        current_sum += price
        if current_sum == budget:
            found_combination = True
            break # Found a combination that matches the budget, so we break
else:
    if current_sum != budget:
        print("No exact combination found by adding fruits sequentially within the budget.")

if found_combination:
    print(f"Found a combination within budget: {current_combination} with a total cost of {current_sum}")

# Note: This approach finds a combination by adding fruits in the order they appear in the 'fruits' list.
# It does not explore all possible combinations. To explore all combinations and guarantee finding one if it exists,
# a different approach (like recursion or dynamic programming) would be needed, but that would likely exceed O(n) time complexity.

Found a combination within budget: ['apple', 'avacadow'] with a total cost of 900

In [ ]:
Fruits = { 'apple': 200,
           'avacadow': 700,
           'banana': 100,
           'strawberry': 900
           }
budget = 900
for x in Fruits:
    for y in Fruits:
        if x != y and Fruits[x] + Fruits[y] == budget:
            print(x, "and", y, "have budget =", budget) # Corrected print statement syntax

apple and avacadow have budget = 900
avacadow and apple have budget = 900

1Q: a telecom company provieds a list of data pack prices ,a customer has a
fixed budget and the companies system needs to find two packs whose combines
matches the customer budget if a pair exiest the sytem should return thier keys
and prices and if no such combination exists it should display the msg no valid
combination foun with in the budget.

In [ ]:
data_packs = {
    "pack1": 300,
    "pack2": 500,
    "pack3": 200,
    "pack4": 700,
    "pack5": 400,
    "pack6": 600
}
customer_budget = 900

found_pair = False
for pack1_name, pack1_price in data_packs.items():
    for pack2_name, pack2_price in data_packs.items():

        # Ensure we are not comparing the same pack with itself

        if pack1_name != pack2_name:
            if pack1_price + pack2_price == customer_budget:
                print(f"Found a valid combination: {pack1_name} ({pack1_price}) and {pack2_name} ({pack2_price}) match the budget of {customer_budget}")
                found_pair = True

if not found_pair:
    print("No valid combination found within the budget.")

Found a valid combination: pack1 (300) and pack6 (600) match the budget of 900
Found a valid combination: pack2 (500) and pack5 (400) match the budget of 900
Found a valid combination: pack3 (200) and pack4 (700) match the budget of 900
Found a valid combination: pack4 (700) and pack3 (200) match the budget of 900
Found a valid combination: pack5 (400) and pack2 (500) match the budget of 900
Found a valid combination: pack6 (600) and pack1 (300) match the budget of 900

2Q: you are manging a telecom customer portal when a new member register their
username must be unique if a user enter a existing value or name it should return msg already exist if this is not the case then insert in dict.

In [ ]:
registered_users = {}

def register_user(username, user_data):
    """
    Registers a new user if the username is unique.

    Args:
        username (str): The desired username.
        user_data (dict): A dictionary containing the user's data.
    """
    if username in registered_users:
        print(f"Username '{username}' already exists. Please choose a different username.")
    else:
        registered_users[username] = user_data
        print(f"User '{username}' successfully registered.")

# Example usage:
register_user("veeru", {"email": "veeru@example.com", "plan": "pack1"})
register_user("santu", {"email": "santu@example.com", "plan": "pack3"})
register_user("veeru", {"email": "veeru2@example.com", "plan": "pack2"}) # Trying to register with an existing username

print("\nRegistered users:")
print(registered_users)

User 'veeru' successfully registered.
User 'santu' successfully registered.
Username 'veeru' already exists. Please choose a different username.

Registered users:
{'veeru': {'email': 'veeru@example.com', 'plan': 'pack1'}, 'santu': {'email': 'santu@example.com', 'plan': 'pack3'}}

# Unit: 03

**Python functions and Modules :**

#FUNCTIONS:

In [ ]:
pi=3.14
def area_of_circle(r):
  return pi*r*r
a = area_of_circle(3)
print("The area of circle is: ", a)

The area of circle is:  28.259999999999998

In [ ]:
def check_even_odd(num):
  if num == 0:
    return "Zero"
  elif num % 2 == 0:
    return "Even"
  else:
    return "Odd"

# Example usage:
print(check_even_odd(0))
print(check_even_odd(4))
print(check_even_odd(7))

Zero
Even
Odd

### Prime Number Check

This code defines a function `is_prime` that checks if a given number is prime. It then takes user input and uses the function to determine and print whether the number is prime.

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, (num // 2) + 1):
        if num % i == 0:
            return False
    return True

number_to_check = int(input("Enter a number: "))

if is_prime(number_to_check):
    print(f"{number_to_check} is a prime number.")
else:
    print(f"{number_to_check} is not a prime number.")

Enter a number: 7
7 is a prime number.

In [ ]:
def calculator(n, m):
  return n + m

result = calculator(10, 5)
print(f"The sum of 10 and 5 is: {result}")

result_subtract = calculator(10, -5)
print(f"The result of 10 plus -5 is: {result_subtract}")

The sum of 10 and 5 is: 15
The result of 10 plus -5 is: 5

1Q: write the function that take string as input uppercase, lowercase, title

In [7]:
def transform_string_case(input_string):
  uppercase_string = input_string.upper()
  lowercase_string = input_string.lower()
  titlecase_string = input_string.title()
  return uppercase_string, lowercase_string, titlecase_string

my_string = "Hello World" # Assign a string value here
upper, lower, title = transform_string_case(my_string)

print(f"Original String: {my_string}")
print(f"Uppercase: {upper}")
print(f"Lowercase: {lower}")
print(f"Titlecase: {title}")

Original String: Hello World
Uppercase: HELLO WORLD
Lowercase: hello world
Titlecase: Hello World

In [8]:
def methods_strings(S):
  return S.upper()
S1=input("enter the string")
x = (methods_strings(S1))
print(x)

enter the stringbefs
BEFS

*arguments and **kwargs

In [9]:
def my_family(*args):
  print("The youngest child is " + args[1])
  print("Type", type(args))
  print("First argument", args[0])
my_family("Saanu", "VEERU", "VEER")

The youngest child is VEERU
Type <class 'tuple'>
First argument Saanu

2Q:

In [22]:
import re

def validate_email(email):

  # A common regex pattern for email validation
  # It checks for a basic structure: something@something.something

  email_regex = r"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$"
  if re.match(email_regex, email):
    return True
  else:
    return False

def validate_password(password):
  """
  Validates a password based on common security requirements:
  - Minimum 8 characters
  - At least one uppercase letter
  - At least one lowercase letter
  - At least one digit
  - At least one special character (e.g., !@#$%^&*()_+)

  Args:
    password (str): The password to validate.

  Returns:
    bool: True if the password is valid, False otherwise.
  """
  if len(password) < 8:
    print("Password must be at least 8 characters long.")
    return False
  if not re.search(r"[A-Z]", password):
    print("Password must contain at least one uppercase letter.")
    return False
  if not re.search(r"[a-z]", password):
    print("Password must contain at least one lowercase letter.")
    return False
  if not re.search(r"\d", password):
    print("Password must contain at least one digit.")
    return False
  if not re.search(r"[!@#$%^&*()_+-=?{}\[\]]", password):
    print("Password must contain at least one special character.")
    return False
  return True

In [23]:
email1 = "test@example.com"
email2 = "invalid-email"
email3 = "another.test@sub.domain.co"

print(f"'{email1}' is valid: {validate_email(email1)}")
print(f"'{email2}' is valid: {validate_email(email2)}")
print(f"'{email3}' is valid: {validate_email(email3)}")

print("\n" + "-"*30 + "\n")

password_valid = "SecureP@ss1"
password_short = "Short1!"
password_no_upper = "securep@ss1"
password_no_lower = "SECUREP@SS1"
password_no_digit = "SecureP@ss"
password_no_special = "SecurePass1"

print(f"Password '{password_valid}' is valid: {validate_password(password_valid)}")
print(f"Password '{password_short}' is valid: {validate_password(password_short)}")
print(f"Password '{password_no_upper}' is valid: {validate_password(password_no_upper)}")
print(f"Password '{password_no_lower}' is valid: {validate_password(password_no_lower)}")
print(f"Password '{password_no_digit}' is valid: {validate_password(password_no_digit)}")
print(f"Password '{password_no_special}' is valid: {validate_password(password_no_special)}")

'test@example.com' is valid: True
'invalid-email' is valid: False
'another.test@sub.domain.co' is valid: True

------------------------------

Password 'SecureP@ss1' is valid: True
Password must be at least 8 characters long.
Password 'Short1!' is valid: False
Password must contain at least one uppercase letter.
Password 'securep@ss1' is valid: False
Password must contain at least one lowercase letter.
Password 'SECUREP@SS1' is valid: False
Password must contain at least one digit.
Password 'SecureP@ss' is valid: False
Password 'SecurePass1' is valid: True

In [15]:
def sec_D(greeting, *names):
  for name in names:
    print(greeting, name)
sec_D("Hello", "Saanu", "VEERU", "VEER")

Hello Saanu
Hello VEERU
Hello VEER

Q: you need to calculate your total marks of your five subjects. 20, 30, 15, 25, 30

In [ ]:
def total_marks(*marks):
  total=0
  for mark in marks:
    total+=mark
  return total
total_marks=total_marks(20,30,15,25,30)
print(F"Total marks: ", {total_marks})

Total marks:  {120}

Q: you have a list numbers, you need to find the maximum one

In [ ]:
def find_maximum(numbers):
  if not numbers:
    return None

  max_num = numbers[0]
  for num in numbers:
    if num > max_num:
      max_num = num
  return max_num

my_numbers = [10, 5, 20, 8, 15, 22, 3]
max_value = find_maximum(my_numbers)
print(f"The list is: {my_numbers}")
print(f"The maximum number in the list is: {max_value}")

empty_list = []
max_value_empty = find_maximum(empty_list)
print(f"\nThe list is: {empty_list}")
print(f"The maximum number in the empty list is: {max_value_empty}")

The list is: [10, 5, 20, 8, 15, 22, 3]
The maximum number in the list is: 22

The list is: []
The maximum number in the empty list is: None

In [17]:
def my_fun(title, *args, **kwargs):
  print("Title: ", title)
  print("Positional arguments: ", args)
  print("Keyword arguments: ", kwargs)

my_fun("userinfo", "Veeru", "Veer", age=19, city="Hyderabad")

Title:  userinfo
Positional arguments:  ('Veeru', 'Veer')
Keyword arguments:  {'age': 19, 'city': 'Hyderabad'}

In [18]:
def my_fun(a,b,c):
  return a+b+c
num=[1,2,3]
result = my_fun(*num)
print(result)

6

Q: impliment a function global median that mentains a global list of numbers and return the current median.

In [19]:
nums = []
def median(n):
  global nums
  nums.append(n)
  nums.sort()
  length = len(nums)
  mid = length // 2
  if length % 2 == 0:
    return(nums[mid-1]+nums[mid])/2
  else:
    return nums[mid]

print(median(2))

print(f"Adding 2: Current median = {median(2)}")
print(f"Adding 5: Current median = {median(5)}")
print(f"Adding 1: Current median = {median(1)}")
print(f"Adding 8: Current median = {median(8)}")
print(f"Adding 3: Current median = {median(3)}")
print(f"Adding 10: Current median = {median(10)}")

print(f"\nFinal list of numbers: {nums}")

2
Adding 2: Current median = 2.0
Adding 5: Current median = 2
Adding 1: Current median = 2.0
Adding 8: Current median = 2
Adding 3: Current median = 2.5
Adding 10: Current median = 3

Final list of numbers: [1, 2, 2, 3, 5, 8, 10]

In [ ]:
num = 1
num = [1,2,3,4]
def modify():
  num = 2
  num = num + 1
  print(num)
modify()
print(num)

3
[1, 2, 3, 4]

In [ ]:
import time
num = list(range(100))
target = 99
start = time.time()
print(target in num)
print("Time: ", time.time()-start)

num_set=set(range(100))
print("Time: ", time.time()-start)

True
Time:  0.00016379356384277344
Time:  0.017367839813232422

{1,2,3} == {3,2,1}

A/B --> A.union(B)

A&B --> A.intersection(B)

A-B

A.issuperset(B)

A.issubset(B)

In [ ]:
V = {9,7,3,2}
R = {5,6,1,4}

print(V.union(R))
print(V&R)
print(V.issuperset(R))
print(V.issubset(R))

{1, 2, 3, 4, 5, 6, 7, 9}
set()
False
False

In [ ]:
import time
num_set=set(range(1000000))

target = 99
start = time.time()
print(target in num)

print("Time: ", time.time()-start)

True
Time:  0.0002872943878173828

In [ ]:
s = set(["10", 10])
print(s)
x = set("hello")
print(x)

{10, '10'}
{'h', 'l', 'o', 'e'}

In [ ]:
def check(item, basket):
  basket.add(item)
  return basket
b = {"apple", "banana"}
print(check("banana", b))
print(check("orange", b))

{'banana', 'apple'}
{'banana', 'orange', 'apple'}

set's are mutable

In [20]:
l = set([0,1,3,4])
a = len(l)
s = set([0,1,3,4])
A = set(range(a))
print(A-s)

{2}

Q: Crush magic problem

crush = ['coding', 'coffee', 'travel']

crush = ['coding', 'gym', 'travel']

do you have the any future with her ?

In [21]:
# Define the interests as lists

my_interests = ['coding', 'coffee', 'travel', 'reading']
her_interests = ['coding', 'gym', 'travel', 'hiking']

my_interests_set = set(my_interests)
her_interests_set = set(her_interests)

common_interests = my_interests_set.intersection(her_interests_set)

if common_interests:
    print(f"Yes! You have a future with her based on shared interests: {common_interests}")
else:
    print("Hmm, it seems there are no common interests. Maybe try finding new ones!")

Yes! You have a future with her based on shared interests: {'travel', 'coding'}